@charset "UTF-8";
/* 
	Fichier	:	Frontend.scss

	Auteurs	:	Hendrick Samuel
				Khamana B. Benedict 
	
	But 	:	Défini le style de la page de creation de l'horaire de l'étudiant et celui de la page de feedback	
*/
body {
  background-color: #dfe7f2;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

#menu {
  background-color: #505b6a;
}

#logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 5px;
  margin-right: 21px;
}

#logo img {
  width: 70px;
  height: 30px;
}

.title {
  position: relative;
}

.title-underline {
  position: absolute;
  width: 110px;
  height: 5px;
  margin: 0 auto;
  background-color: #2b2bff;
}

.title-underline-center {
  width: 200px;
  height: 5px;
  margin: 0 auto;
  background-color: #2b2bff;
}

/*---------------------------------------------------------------------*/
#jour-plage-horaire {
  background-color: #dfe7f2;
}

#jour-plage-horaire #liste-jours-immersion {
  text-align: center;
}

#jour-plage-horaire #liste-jours-immersion .btn-jour {
  width: 300px;
  background-color: transparent;
  text-transform: capitalize;
  color: #2b2bff;
  border-color: #2b2bff;
}

#jour-plage-horaire #liste-jours-immersion .btn-jour:hover, #jour-plage-horaire #liste-jours-immersion .btn-jour:focus {
  background-color: #0000d4;
  color: white;
}

#jour-plage-horaire #liste-jours-immersion .btn-jour:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#jour-plage-horaire #liste-jours-immersion .btn-jour:active, #jour-plage-horaire #liste-jours-immersion .btn-jour:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn-jour {
  width: 300px;
  background-color: transparent;
  text-transform: capitalize;
  color: #2b2bff;
  border-color: #2b2bff;
}

.btn-jour:hover, .btn-jour:focus {
  background-color: #0000d4;
  color: white;
}

.btn-jour:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-jour:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.plages-horaire {
  background-color: #dfe7f2;
  min-height: 50vh;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.carte-cours {
  position: relative;
  border: 1.5px solid #505b6a;
  border-radius: .7em;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  max-height: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.carte-cours .nb-place-dispo {
  position: absolute;
  width: 35px;
  right: 20px;
  bottom: 5px;
  z-index: 10;
}

.carte-cours .nb-place-dispo :nth-child(1) {
  padding: 8px;
  margin-top: 5px;
  background-color: #2b2bff;
}

.carte-cours .r-btn {
  position: absolute;
  z-index: 10;
  top: 1.5px;
  right: 1.5px;
}

.carte-cours .r-btn button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}

.carte-cours .r-btn button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carte-cours .r-btn button:hover :nth-child(1) {
  color: #0000d4;
}

.carte-cours .r-btn button:focus {
  opacity: 1;
}

.carte-cours .r-btn button:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.carte-cours .r-btn button :nth-child(1) {
  width: 35px;
  height: 35px;
  color: #2b2bff;
}

.carte-cours .info-cours {
  position: static;
}

.carte-cours .info-cours .titre {
  text-align: left;
  padding-top: 20.5px;
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
}

.carte-cours .info-cours .description {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.carte-cours-choisi {
  position: relative;
  border-radius: .7em;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  margin-top: 0px;
  margin-left: 0px;
}

.carte-cours-choisi .r-btn {
  position: absolute;
  z-index: 10;
  top: 3px;
  right: 5px;
}

.carte-cours-choisi .r-btn :nth-child(1) {
  width: 35px;
  height: 35px;
  color: #2b2bff;
}

.carte-cours-choisi .r-btn-close {
  position: absolute;
  z-index: 10;
  bottom: 3px;
  right: 4px;
}

.carte-cours-choisi .r-btn-close button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}

.carte-cours-choisi .r-btn-close button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carte-cours-choisi .r-btn-close button:hover :nth-child(1) {
  color: #f71c3e;
}

.carte-cours-choisi .r-btn-close button:focus {
  opacity: 1;
}

.carte-cours-choisi .r-btn-close button:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.carte-cours-choisi .r-btn-close button :nth-child(1) {
  width: 35px;
  height: 35px;
  color: #e9092c;
}

.carte-cours-choisi .info-cours {
  position: static;
}

.carte-cours-choisi .info-cours .titre {
  text-align: left;
  padding-top: 15.5px;
  margin-left: 5px;
  font-size: 22px;
}

.carte-cours-choisi .info-cours .description {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.carte-cours-indisponible {
  position: relative;
  border-radius: .7em;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  max-height: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.carte-cours-indisponible .info-cours .description {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carte-cours-recap {
  position: relative;
  border: 4.5px solid #505b6a;
  border-radius: .7em;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  max-height: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.carte-cours-recap .r-btn {
  position: absolute;
  z-index: 10;
  top: 3px;
  right: 5px;
}

.carte-cours-recap .r-btn :nth-child(1) {
  width: 35px;
  height: 35px;
  color: #2b2bff;
}

.carte-cours-recap .info-cours {
  position: static;
}

.carte-cours-recap .info-cours .titre {
  text-align: left;
  padding-top: 20.5px;
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
}

.carte-cours-recap .info-cours .description {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.card {
  background-color: #dfe7f2;
  border: 4.5px solid #505b6a;
  border-radius: .7em;
  border-style: outset;
}

.card .input-group input, .card .input-group select {
  color: #505b6a;
  border-right: 3px solid #505b6a;
  background-color: #e8f0fe;
}

.card .input-group input:focus, .card .input-group input:active, .card .input-group select:focus, .card .input-group select:active {
  background-color: #d7e5fd;
  color: #505b6a;
}

.card .input-group:focus {
  -webkit-transform: translate(1.1);
          transform: translate(1.1);
}

.swiper-container {
  width: 100%;
  height: 250px;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .swiper-pagination-bullet {
  opacity: .5;
  border: white solid 1px;
  background-color: #2b2bff;
  height: 12px;
  width: 12px;
  outline: none;
}

.swiper-container .swiper-pagination-bullet:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.swiper-container .swiper-pagination-bullet:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: #2b2bff;
  outline: none;
  opacity: 1;
  height: 17px;
  width: 17px;
}

.swiper-container .swiper-scrollbar-drag {
  background-color: #2b2bff;
}

.swiper-container .swiper-scrollbar {
  background-color: #b3b3ff;
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
  color: #2b2bff;
  outline: none;
}

.swiper-container .swiper-button-next:hover, .swiper-container .swiper-button-prev:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #0000d4;
}

.swiper-container .swiper-button-next:active, .swiper-container .swiper-button-prev:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #0000d4;
}

.zone-drop {
  display: inline-block;
  position: relative;
  border-radius: .75em;
  width: 200px;
  max-width: 355px;
  min-height: 205px;
  max-height: 505px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: solid 3px #505b6a;
  border-radius: .7em;
  background: #dfe7f2;
}

.zone-drop {
  display: inline-block;
  border-radius: .75em;
  width: 330px;
  max-width: 355px;
  min-height: 205px;
  max-height: 505px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: solid 3px #505b6a;
  border-radius: .7em;
  background: #dfe7f2;
}

.dragging {
  opacity: .5;
}

.draggingGhost {
  background-color: orange;
  pointer-events: none;
  list-style-type: none;
  opacity: 1;
}

.hold {
  border: 2.5px solid #242930;
  border-width: thick;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

.hovered {
  border-style: dashed;
  border-width: thick;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.border-danger {
  border-width: medium;
  opacity: .95;
  -webkit-transform: scale(0.991);
          transform: scale(0.991);
  border-color: #ff9999;
  cursor: no-drop;
}

.border-success {
  border-width: medium;
  opacity: .95;
  border-color: #1aff1a;
  cursor: copy;
}

/*---------------------------------------------------------------------*/
#form-question .card {
  border: 1px solid;
}

#form-question .r-btn-question input[type="radio"] {
  display: none;
}

#form-question .r-btn-question .r-btn-insatisfait, #form-question .r-btn-question .r-btn-meh, #form-question .r-btn-question .r-btn-neutre, #form-question .r-btn-question .r-btn-satisfait, #form-question .r-btn-question .r-btn-heureux {
  opacity: 0.8;
}

#form-question .r-btn-question .r-btn-insatisfait:hover, #form-question .r-btn-question .r-btn-meh:hover, #form-question .r-btn-question .r-btn-neutre:hover, #form-question .r-btn-question .r-btn-satisfait:hover, #form-question .r-btn-question .r-btn-heureux:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#form-question .r-btn-question .r-btn-insatisfait {
  color: #fe1d25;
}

#form-question .r-btn-question .r-btn-meh {
  color: #ff8b24;
}

#form-question .r-btn-question .r-btn-neutre {
  color: #e6e20f;
}

#form-question .r-btn-question .r-btn-satisfait {
  color: #7fe611;
}

#form-question .r-btn-question .r-btn-heureux {
  color: #01d300;
}

#form-question .r-btn-question input[type="radio"]:checked + .r-btn-insatisfait,
#form-question .r-btn-question input[type="radio"]:checked + .r-btn-meh,
#form-question .r-btn-question input[type="radio"]:checked + .r-btn-neutre,
#form-question .r-btn-question input[type="radio"]:checked + .r-btn-satisfait,
#form-question .r-btn-question input[type="radio"]:checked + .r-btn-heureux {
  opacity: 1;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/*---------------------------------------------------------------------*/
/*# sourceMappingURL=Frontend.css.map */