form{
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
}

.content{
  table{
    width: 100%;
    thead{
      border-bottom: 2px solid black;
      tr{
        th{
          padding-left: 10px;
        }
      }
    }

    tbody{
      tr{
        border-bottom: 1px solid black;
        td{
          font-size: 0.8em;
          padding-left: 10px;
        }
      }
    }
  }
}