@import "variables";

body{
  .page{
    display: grid;
    grid-template-columns: 15% 85%;

    .sidebar{
      display: inline;
      grid-column: 1;
      border-right: #1d2124 2px solid;
      height: 100%;
      .card{
        margin: 5px;
        border-radius: 10px;
      }
    }

    .pagecontent{
      grid-column: 2;

      table{
        width: 100%;
        thead{
          border-bottom: 2px solid black;
          tr{
            th{
              padding-left: 10px;
            }
          }
        }
        tbody{
          tr{
            border-bottom: 1px solid black;
            td{
              font-size: 0.8em;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
